<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/reset.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/main.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/simplebar.css') }}">

        <script src="/static/script/background.js" defer></script>
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- <script src="https://code.jquery.com/jquery-latest.min.js" defer></script> -->

        <script src="/static/script/simplebar.js" defer></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Condensed&family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">

        <link rel="icon" href="/static/assets/icon.png" type="image/x-icon">

        <title>КлиникБук</title>
    </head>
    <body>
        <div class="canvas">
            <div class="wrapper">
                <header>
                    <div class="header">
                        <div class="container">
                            <div class="header__top">
                                <div class="logotype">
                                    <a href="#">
                                        <img id="logotype" src="/static/assets/icon.png" alt="logotype">
                                    </a>
                                </div>

                                <nav class="menuButton">
                                    <ul class="header__nav-list">
                                        <li class="header__nav-item">
                                            <a href="#about" class="header__nav-link">О нас</a>
                                        </li>
                                        <li class="header__nav-item">
                                            <a href="#agreement" class="header__nav-link">Соглашение</a>
                                        </li>
                                        <li class="header__nav-item">
                                            <a href="#developer" class="header__nav-link">Разработчик</a>
                                        </li>
                                    </ul>
                                </nav>
                                    </ul>
                                </nav>

                                <div class="Mainbutton">
                                    <div id="container">
                                        <form action="http://localhost:3040/download">
                                            <div class="button">
                                                <input class="download_button" type="submit" value="Скачать">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="container">
                    <div class="main-block">
                        <div class="blocks" data-simplebar>

                            <div class="page_container">
                                <div class="about" id="about">
                                    pass1
                                </div>
                            </div>

                            <div class="page_container">
                                <div class="agreement" id="agreement">
                                    pass2
                                </div>
                            </div>


                            <div class="page_container">
                                <div class="developer" id="developer">
                                    pass3
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>